BasedOnStyle: LLVM
AccessModifierOffset: -4
UseTab: Always
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
